wheel
--extra-index-url https://rospypi.github.io/simple/ rospy rosbag geometry_msgs sensor_msgs
pynvrtc 
joblib 
lie_learn
scikit-build
numpy==1.19.0
scikit-learn==0.22.1
pyequilib
sacred==0.7.4
torchvision
open3d
pyflann-py3
yacs
torch
future
neptune-client
opencv-python
scikit-image
moviepy
sklearn
pandas
equilib
pylas==0.6.0a2
gnupg
scipy==1.4
pycryptodomex
catkin_pkg
rospkg
